@model WatchParty.DTOs.MovieDTO

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/websiteStyle.css" asp-append-version="true" />

<div class="container">
    <h2>Movie Details</h2>
    <hr />
    <div class="">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Image:</dt>
                <dd class="col-sm-9">
                    <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-thumbnail" width="280" />
                </dd>
                <dt class="col-sm-3">Name: </dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-3">Description: </dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
            </dl>
            <div class="video-frame">
                <video controls>
                    <source src="@Url.Content($"~/videos/{Model.VideoPath}.mp4")" type="video/mp4" />
                </video>
            </div>
            <div class="p-3">
                <h5>Categories:</h5>
                @if (Model.Categories.Count <= 0)
                {
                    <div>There are no categories for this movie yet.</div>
                }
                else
                {
                    <div class="p-1">
                        @foreach (var item in Model.Categories)
                            {
                            <a asp-controller="Movies" asp-action="Category" asp-route-id="@item.Name"><span class="category">@item.Name </span></a>
                            }
                    </div> 
            }

            </div>
            <div class="p-3">
                <h5>Starring:</h5>
                @if (Model.Actors.Count <= 0)
                {
                    <div>There are no actors for this movie yet.</div>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Actors)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@item.ID">
                                            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-thumbnail" width="100" />
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model?.ID" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>